/*
* Common Style
*/

/* @font-face {
    font-family: 'Mona Sans';
    src: url('../fonts/mona-sans_normal_700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../fonts/mona-sans_normal_600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../fonts/mona-sans_normal_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../fonts/mona-sans_normal_400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */

a:hover {
    color: var(--wp--preset--color--blogx-brown);
}

.wp-block-button>a.wp-block-button__link {
    transition: background ease-in-out .3s;
}

.wp-block-button>a.wp-block-button__link:hover {
    background: var(--wp--preset--color--blogx-brown);
    color: #fff;
}


/*
* Header Area
*/

.header-inner {
    position: relative;
    background: #fff;
    border-radius: 50px;
}

.header-inner:before {
    content: " ";
    background: rgb(214, 166, 146);
    background: linear-gradient(90deg, var(--wp--preset--color--blogx-brown) 0%, rgba(255, 255, 255, 0.9206057422969187) 70%);
    width: 100.4%;
    display: block;
    position: absolute;
    z-index: -1;
    left: -0.2%;
    right: 0;
    top: -2%;
    bottom: 0;
    border-radius: 50px;
    height: 104%;
}

.header-inner .wp-block-site-logo {
    margin-right: 5px;
}

.header-inner .wp-block-site-title a {
    text-decoration: none;
}

.header-inner .wp-block-site-title a:hover {
    color: var(--wp--preset--color--blogx-black);
}



/*
* Footer Area
*/

.footer-area ul.wp-block-latest-posts__list {
    line-height: 1.8;
}

.footer-area ul.wp-block-latest-posts__list a.wp-block-latest-posts__post-title {
    text-decoration: none;
}


/*
Home - Hero
*/

ul.hero-social-link li {
    border-right: 2px solid var(--wp--preset--color--blogx-black);
    padding-right: 10px;
    padding-left: 10px;
}

ul.hero-social-link li:last-child {
    border-right: 0;
    padding-right: 0;
}

ul.hero-social-link li:first-child {
    padding-left: 0;
}

/*
Home - Latest Article
*/
.home-latest-article .wp-block-latest-posts a.wp-block-latest-posts__post-title {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5;
}

.home-latest-article .wp-block-latest-posts .wp-block-latest-posts__featured-image img.wp-post-image {
    border-radius: 5px;
}

.home-latest-article .wp-block-latest-posts .wp-block-latest-posts__post-date {
    color: #9E9E9E;
    font-size: var(--wp--preset--font-size--bs-gx);
    font-weight: 500;
    margin-top: 5px;
}

.home-post .post .wp-block-post-title a {
    text-decoration: none;
}

.home-post .post .wp-block-post-title a:hover {
    text-decoration: underline;
}

.home-post .post:not(.has-post-thumbnail) .wp-block-column:first-child{
    flex-basis: 0 !important;
}