<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"10.5%","left":"10.5%","top":"40px","bottom":"40px"}}},"className":"home-hero","layout":{"type":"constrained"}} -->
<div id="Hero" class="wp-block-group home-hero" style="padding-top:40px;padding-right:10.5%;padding-bottom:40px;padding-left:10.5%"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"6rem"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"home-hero-title"} -->
<h2 class="wp-block-heading has-text-align-center home-hero-title" id="Hero-title" style="margin-top:0;margin-bottom:0;font-size:6rem">404 </h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"home-hero-title","fontSize":"xxxl-gx"} -->
<h2 class="wp-block-heading has-text-align-center home-hero-title has-xxxl-gx-font-size" id="Hero-title" style="margin-top:0;margin-bottom:0">Not Found!</h2>
<!-- /wp:heading -->

<!-- wp:navigation {"ref":1931,"overlayMenu":"never","className":"hero-social-link","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"fontSize":"md-gx"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->