<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"article","className":"single-post","layout":{"type":"constrained"}} -->
<article id="wrap" class="wp-block-group single-post"><!-- wp:group {"style":{"spacing":{"padding":{"right":"10px","left":"10px","top":"30px","bottom":"30px"}}},"className":"single-hero","layout":{"type":"constrained"}} -->
<div id="Hero" class="wp-block-group single-hero" style="padding-top:30px;padding-right:10px;padding-bottom:30px;padding-left:10px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33.33%","className":"single-hero-left"} -->
<div class="wp-block-column single-hero-left" style="flex-basis:33.33%"><!-- wp:post-featured-image {"height":"450px","scale":"fill"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"66.66%","className":"single-hero-right"} -->
<div class="wp-block-column is-vertically-aligned-center single-hero-right" style="flex-basis:66.66%"><!-- wp:post-terms {"term":"category","separator":"","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"className":"single-post-categories","fontSize":"bs-gx"} /-->

<!-- wp:post-title {"style":{"spacing":{"margin":{"top":"25px","bottom":"25px"}}},"fontSize":"xxxl-gx"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"10px"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"className":"single-post-date","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group single-post-date" style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:500"><!-- wp:post-date {"style":{"color":{"text":"#9e9e9e"}}} /-->

<!-- wp:paragraph {"style":{"color":{"text":"#9e9e9e"}}} -->
<p class="has-text-color" style="color:#9e9e9e">by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"10%","left":"10%","top":"30px","bottom":"30px"}}},"className":"single-content","layout":{"type":"constrained"}} -->
<div id="Content" class="wp-block-group single-content" style="padding-top:30px;padding-right:10%;padding-bottom:30px;padding-left:10%"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"10%","left":"10%","top":"20px","bottom":"30px"}}},"className":"single-content","layout":{"type":"constrained"}} -->
<div id="Social" class="wp-block-group single-content" style="padding-top:20px;padding-right:10%;padding-bottom:30px;padding-left:10%"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Share:</h5>
<!-- /wp:heading -->

<!-- wp:social-links {"iconColor":"plainpost-black","iconColorValue":"#292522","openInNewTab":true,"size":"has-normal-icon-size","style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"blockGap":{"left":"15px"}}},"className":"has-icon-color is-style-logos-only","layout":{"type":"flex","justifyContent":"left"}} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"twitter"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /-->

<!-- wp:social-link {"url":"#","service":"mail"} /-->

<!-- wp:social-link {"url":"#","service":"chain"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"10%","left":"10%","top":"30px","bottom":"30px"}}},"className":"single-comment","layout":{"type":"constrained"}} -->
<div id="Comment" class="wp-block-group single-comment" style="padding-top:30px;padding-right:10%;padding-bottom:30px;padding-left:10%"><!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:post-comments-form {"className":"single-comment-form"} /-->

<!-- wp:comments-title {"showPostTitle":false} /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination --></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->